---
import MarkdownArticle from "../../components/MarkdownArticle.astro";
import ReferenceHeader from "../../components/ReferenceHeader.astro";
---

<html>
	<head></head>
	<body>
        <ReferenceHeader/>
		<div>
			<main class="flex flex-col px-8 pt-36 pb-16">
				<MarkdownArticle>
					<h1>Modules</h1>
					<ul>
						<li><a href="/reference/main"><code>oslo</code></a></li>
						<li>
							<a href="/reference/cookie"><code>oslo/cookie</code></a>: Cookie parsing and
							serialization
						</li>
						<li>
							<a href="/reference/crypto"><code>oslo/crypto</code></a>: Generate hashes and
							signatures
						</li>
						<li>
							<a href="/reference/encoding"><code>oslo/encoding</code></a>: Encode base64,
							base64url, base32, hex
						</li>
						<li><a href="/reference/jwt"><code>oslo/jwt</code></a>: Create and verify JWTs</li>
						<li><a href="/reference/oauth2"><code>oslo/oauth2</code></a>: OAuth2 helpers</li>
						<li>
							<a href="/reference/otp"><code>oslo/otp</code></a>: HOTP, TOTP
						</li>
						<li><a href="/reference/password"><code>oslo/password</code></a>: Password hashing</li>
						<li>
							<a href="/reference/random"><code>oslo/random</code></a>: Generate cryptographically
							strong random values
						</li>
						<li><a href="/reference/request"><code>oslo/request</code></a>: CSRF protection</li>
						<li><a href="/reference/session"><code>oslo/session</code></a>: Session management</li>
						<li>
							<a href="/reference/webauthn"><code>oslo/webauthn</code></a>: Verify WebAuthn
							attestations and assertions
						</li>
					</ul>
				</MarkdownArticle>
			</main>
		</div>
	</body>
</html>
