<header class="fixed top-0 w-screen bg-white z-10 border-b">
    <div class="px-8 border-b py-4">
        <a href="/" class="font-medium text-xl">Oslo</a>
    </div>
    <div class="px-8 flex gap-x-4 py-1.5">
        <slot/>
    </div>
</header>